*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: gray;
}

/*general*/
.container{
  width: 100%;
  height: 100vh;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.float-l{
  float: left;
}

nav ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: gray;
  font-size: 12px;
}

i{
  color: gray;
  font-size: 40px;
}

.grassetto{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.content h2, .album h5{
  color: white;
}

/*main*/
main{
  height: calc(100% - 80px);
  background-color: #141922;
}

/*premium*/
.premium{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 200px);
  top: 0px;
  right: 0px;
  height: 80px;
  background-color: rgba(0, 0, 0, .5);
  padding-right: 1%;
}

.premium a{
  padding: 10px 35px;
  border: 1px solid white;
  border-radius: 30px;
  cursor: pointer;
}

.premium a:hover{
  font-size: 13px;
}

/*aside*/
aside{
  width: 200px;
  height: 100%;
  background-color: black;
  padding: 1%;
  overflow: hidden;
}

aside .aside-top{
  height: calc(100% - 60px);
  min-height: 220px;
  overflow: hidden;
}

aside .logo{
  width: 140px;
  padding-bottom: 10%;
}

aside nav{
  padding-bottom: 5%;
}

aside li{
  padding-bottom: 2%;
}

aside nav img{
  width: 25px;
  vertical-align: middle;
  filter: invert(50%);
}

aside a:hover{
  color: white;
}

aside li:active{
  border-left: 2px solid #adff2f;
  padding-left: 1%;
}

#add-playlist{
  font-size: 30px;
  padding: 1px 10px;
  background-color: gray;
  color: black;
  vertical-align: middle;
}

/*aside bottom*/
aside .aside-bottom{
  height: 60px;
  padding-top: 10%;
  font-size: 11px;
}

.aside-bottom img{
  width: 15px;
  vertical-align: middle;
}

.aside-bottom div{
  margin: 2%;
  border-bottom: 1px solid gray;
}

#profilo{
  width: 20px;
  background-color: gray;
  border-radius: 50%;
  vertical-align: middle;
}

/*content*/
.content{
  width: calc(100% - 200px);
  height: 100%;
  overflow: auto;
  padding-top: 90px;
}

.content nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 3%;
}

.content li{
  padding: 0 1%;
}

.content.float-l .grassetto a:hover{
  color: white;
}

.bordo-b:active{
  padding-bottom: 10%;
  border-bottom: 2px solid #adff2f;
}
/*recent played*/
.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.content h2, .content span{
  padding-left: 1%;
}

.content span{
  font-size: 11px;
}

.album {
  width: 15%;
  text-align: center;
  padding-top: 2%;
  margin-bottom: 5%;
  cursor: pointer;
}

.album img{
  width: 100%;
}  

.box.utente, .box.popolari{
  justify-content: flex-start;
}

.box.utente .album, .box.popolari .album{
  margin: 0 1.5% 2% 1.5%;
}

.box.popolari .album img{
  border-radius: 50%;
}

/*footer*/
footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #282828;
  padding: 1%;
}

.music{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  width: 13%;
}

.music img{
  height: 100%;
}

.song{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.song span:first-of-type{
  font-size: 12px;
  color: white;
}

.song span{
  color: gray;
  font-size: 12px;
  cursor: pointer;
}

.song span:last-of-type:hover{
  color: white;
  text-decoration: underline;
}

.music i, .player i, .sound i{
  font-size: 15px;
  cursor: pointer;
}

.music i:hover {
  color: white;
}

.player{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
}

.player i, .sound i{
  color: white;
}

.sound{
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
}

.sound .volume{
  position: relative;
  border: 2px solid gray;
  max-height: 6px;
  width: 60%;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
}

.sound .volume .volume-white{
  position: relative;
  top: -2px;
  left: -2px;
  width: 30%;
  border-color: white;
  background-color: white;
  height: 6px;
  border-radius: 10px;
}

.sound .volume .volume-white:hover{
  background-color: #adff2f;
  color: #adff2f;
  height: 7px;
}

.sound i{
  cursor: pointer;
}

.player{
  width: 35%;
}

.player .comand{
  display: flex;
  justify-content: center;
  align-items: center;
}

#play{
  font-size: 25px;
}

#play:hover{
  font-size: 26px;
}

.player .comand a{
  margin: 0 3%;
}

.time-line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-line span{
  font-size: 12px;
  color: white;
}

.time-line .time{
  position: relative;
  border: 2px solid gray;
  max-height: 6px;
  width: 80%;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
}

.time-line .time .time-white{
  position: relative;
  top: -2px;
  left: -2px;
  width: 30%;
  border-color: white;
  background-color: white;
  height: 6px;
  border-radius: 10px;
}

.time .time-white:hover{
  background-color: #adff2f;
  color: #adff2f;
  height: 7px;
}

@media ( max-width: 576px) {}
